* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style-type: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*-----------------------------------------------------*/
body {
  font-family: 'PT Sans', sans-serif; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.logo {
  display: block;
  font-family: 'Lato', sans-serif;
  color: #fff; }
  .logo span {
    padding: 5px;
    background-color: #4A90E2;
    border-radius: 3px;
    margin-left: 5px;
    text-transform: uppercase; }

.title {
  font-size: 1.857rem;
  line-height: 1.38;
  font-weight: 700; }

.input {
  border: 1px solid #E5E5E5;
  padding: 15px 30px 15px 17px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px; }
  .input::placeholder {
    color: #AEB3BB;
    font-family: 'PT Sans', sans-serif; }
  .input:focus {
    outline: 2px solid #4A90E2;
    border-radius: 3px; }

.button {
  background-color: #232323;
  padding: 18px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  font-size: 1rem;
  font-weight: 700; }
  .button:hover {
    background-color: #4A90E2;
    transition: .2s linear; }
  .button:hover .st0 {
    fill: url(#g1); }
  .button .insta-svg {
    margin-right: 10px; }

.article-title {
  line-height: 1.3;
  margin-bottom: 15px;
  font-size: 1.75rem;
  font-weight: 700;
  color: #171717; }

.article-author {
  font-style: italic;
  color: #666666; }

.article-description {
  font-size: 1rem;
  line-height: 1.7; }

.social__link {
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  background: #373737;
  border-radius: 3px; }
  .social__link:hover {
    transform: scale(1.1); }

.social__icon {
  display: block;
  height: 18px;
  fill: #fff;
  stroke: #fff; }

.svg-facebook:hover {
  background-color: #4267B2; }

.svg-twitter:hover {
  background-color: #00acee; }

.svg-pinterest:hover {
  background-color: #BD081C; }

.svg-google:hover {
  background: linear-gradient(145deg, #4285f4 0%, #db4437 30%, #f4b400 70%, #0f9d58 100%); }

.svg-instagram:hover {
  background: linear-gradient(218deg, #405de6 0%, #5851db 6%, #833ab4 24%, #c13584 33%, #c43582 42%, #e1306c 51%, #fd1d1d 60%, #f56040 70%, #f77737 80%, #fcaf45 90%, #ffdc80 100%); }

.header {
  background-color: #000;
  padding: 34px 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%; }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .nav-list {
    display: flex; }
    .header .nav-list__items:not(:last-child) {
      margin-right: 38px; }
    .header .nav-list__links {
      text-decoration: none;
      color: #fff; }
      .header .nav-list__links:hover {
        color: #4A90E2; }

.vehicle-block {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden; }
  .vehicle-block img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .vehicle-block__text {
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 20px; }
  .vehicle-block .article-author {
    margin-bottom: 10px; }
  .vehicle-block .title {
    font-size: 1.429rem;
    line-height: 1.5; }
  .vehicle-block::before {
    font-size: 0.75rem;
    color: #fff;
    background-color: #4A90E2;
    border-radius: 3px;
    padding: 1% 2%;
    margin: 6% 7%;
    content: 'Vehicle';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .vehicle-block:hover .vehicle-block__text {
    background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%);
    transition: all 10s linear; }

.section-hero-img {
  margin-bottom: 120px; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-rows: 50% 50%;
  column-gap: 30px; }
  .grid-container .article-author {
    color: #fff; }
  .grid-container .item-a {
    grid-area: 1 / 1 / last-line / 2; }
  .grid-container .item-b {
    margin-bottom: 30px; }

.main-content {
  margin-top: 120px; }

.main-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px; }
  .main-content-wrapper .main-content-articles {
    display: flex;
    flex-direction: column;
    margin-right: 130px; }
  .main-content-wrapper .article-wrapper {
    position: relative;
    margin-bottom: 180px; }
  .main-content-wrapper .article-block {
    display: block;
    position: relative;
    z-index: 5; }
    .main-content-wrapper .article-block img {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .main-content-wrapper .article-block .article-text {
      position: absolute;
      bottom: -15%;
      left: 0;
      z-index: 11;
      color: #171717;
      padding: 30px 70px 30px 30px;
      background-color: #fff;
      margin: 0 20px;
      border-radius: 3px; }
      .main-content-wrapper .article-block .article-text .article-title {
        font-size: 1.786rem; }
      .main-content-wrapper .article-block .article-text .article-author {
        margin-bottom: 20px; }

.aside-panel {
  flex: 0 1 30%;
  max-width: 270px;
  width: 100%; }

.aside-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 25px; }

.aside-blog {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px; }
  .aside-blog__img {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px; }
    .aside-blog__img img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  .aside-blog__title {
    margin-bottom: 15px; }
  .aside-blog__profession {
    font-style: italic;
    margin-bottom: 18px;
    color: #999999; }
  .aside-blog__description {
    line-height: 1.7;
    font-size: 1.071rem;
    margin-bottom: 20px; }
  .aside-blog__link {
    background-color: #232323;
    display: block;
    padding: 18px;
    text-align: center;
    border-radius: 3px;
    color: #fff; }
    .aside-blog__link:hover {
      background-color: #4A90E2;
      transition: all .3s linear; }

.aside-pop-posts {
  margin-bottom: 60px; }
  .aside-pop-posts .aside-wrapper:not(:last-child) {
    margin-bottom: 40px; }
  .aside-pop-posts .vehicle-block img {
    margin-bottom: 20px; }
  .aside-pop-posts .vehicle-block .article-title {
    line-height: 1.4;
    font-size: 1.429rem;
    margin-bottom: 10px; }

.aside-instagram {
  margin-bottom: 60px; }
  .aside-instagram__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px; }
  .aside-instagram__link {
    display: flex;
    justify-content: center;
    align-items: center; }
  .aside-instagram__item {
    object-fit: cover; }
  .aside-instagram__item:hover {
    transition: .3s linear;
    transform: scale(1.1); }

.aside-tags {
  margin-bottom: 60px; }
  .aside-tags__title {
    color: #171717;
    font-size: 1.286rem;
    font-weight: 700;
    margin-bottom: 25px; }
  .aside-tags__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px; }
  .aside-tags__links {
    margin-bottom: 10px;
    background-color: #EBEBEB;
    padding: 7px 16px;
    border-radius: 3px;
    text-align: center;
    color: #171717; }
    .aside-tags__links:not(:nth-child(3n)) {
      margin-right: 10px; }
    .aside-tags__links:hover {
      background-color: #b3b2b2;
      transform: scale(1.1);
      transition: 0.2s linear; }

.aside-subscribe__title {
  margin-bottom: 15px; }

.aside-subscribe__subtitle {
  line-height: 1.7;
  margin-bottom: 30px; }

.aside-subscribe__form {
  display: flex;
  flex-wrap: wrap; }

.page-nav {
  margin-bottom: 80px; }
  .page-nav-list {
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    width: 100%; }
    .page-nav-list li + li {
      margin-left: 10px; }
    .page-nav-list__item {
      padding: 10px 15px;
      color: #171717;
      border: 1px solid #E5E5E5;
      font-size: 1.143rem; }
  .page-nav .active-page {
    background-color: #000;
    color: #fff; }

.popular-articles {
  margin-bottom: 80px; }
  .popular-articles__title {
    font-size: 2.143rem;
    font-weight: 700;
    margin-bottom: 30px; }
  .popular-articles__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px; }
    .popular-articles__wrapper img {
      display: block;
      margin-bottom: 25px;
      object-fit: contain;
      border-radius: 3px;
      width: 100%;
      height: auto; }
    .popular-articles__wrapper .article-title {
      font-size: 1.429rem; }
  .popular-articles__item {
    display: block;
    position: relative;
    padding: 0 15px; }
    .popular-articles__item::before {
      font-size: 0.75rem;
      color: #fff;
      background-color: #4A90E2;
      border-radius: 3px;
      padding: 6px 18px;
      margin: 20px 35px;
      content: 'BMW';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; }
  .popular-articles-title {
    font-size: 1.429rem;
    line-height: 1.75;
    margin-bottom: 15px; }
  .popular-articles-author {
    font-style: italic; }

.add-info {
  background-color: #171717;
  color: #ffffff;
  padding-top: 62px;
  padding-bottom: 50px; }
  .add-info-wrapper {
    margin: 0 -65px;
    display: flex; }
    .add-info-wrapper__item {
      flex: 0 0 33.33%;
      display: flex;
      flex-direction: column;
      padding: 0 65px; }
      .add-info-wrapper__item .logo {
        margin-bottom: 30px; }
    .add-info-wrapper .article-description {
      line-height: 1.5;
      margin-bottom: 65px; }
    .add-info-wrapper__title {
      font-size: 1.429rem;
      font-weight: 700;
      margin-bottom: 30px; }
    .add-info-wrapper .social-wrapper {
      display: flex; }
      .add-info-wrapper .social-wrapper .social__link + .social__link {
        margin-left: 15px; }
    .add-info-wrapper .add-info-posts__item {
      display: flex;
      justify-content: space-between; }
    .add-info-wrapper .add-info-posts .add-info-posts__item + .add-info-posts__item {
      margin-top: 25px; }
    .add-info-wrapper .add-info-posts__img {
      margin-right: 20px; }
    .add-info-wrapper .add-info-posts__text {
      padding: 15px 0; }
      .add-info-wrapper .add-info-posts__text .article-title {
        line-height: 1.3;
        margin-bottom: 15px;
        font-size: 1.07rem;
        font-weight: 700;
        color: #fff; }
      .add-info-wrapper .add-info-posts__text .article-author {
        color: #cecece; }
    .add-info-wrapper .add-info-subscribe .add-info-wrapper__title {
      margin-bottom: 45px; }
    .add-info-wrapper .add-info-subscribe__form {
      display: flex;
      flex-wrap: wrap; }
      .add-info-wrapper .add-info-subscribe__form .input {
        color: #fff;
        background-color: #373737;
        border: 1px solid #232323; }
        .add-info-wrapper .add-info-subscribe__form .input::placeholder {
          color: #AEB3BB; }

.footer {
  background-color: #000;
  color: #ffffff;
  padding: 40px 0; }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer .nav-list {
    display: flex; }
    .footer .nav-list__items:not(:last-child) {
      margin-right: 38px; }
    .footer .nav-list__links {
      text-decoration: none;
      color: #fff; }
      .footer .nav-list__links:hover {
        color: #4A90E2; }
